.topnav {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    &__logo {
        width: 200px;
        height: 200px;
        padding-left: 100px;
    }

    &__brandname{
        align-items: center;
        display: flex;
        font-size: 80px;
        margin-left: auto;
        margin-right: auto;
        right: 100px;
        position: relative;
    }
}

.box-intro {
    width: 95vw;
    height: 120px;
    margin-bottom: 50px;
    background-color: rgb(112, 206, 153);
    padding: 30px 20px;
    font-size: 24px;
    text-align: center;
}
.body {
    padding: 0;
}


.recommendations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;

    &__menu {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        width: 30%;
        padding-top: 20px;
        margin-bottom: 100px;
    }
    &__img {
        width: 300px;
        height: 300px;
        position: relative;
        left: 20%;
    }
    &__menuname {
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }
    &__calories {
        display: flex;
        flex-direction: row;
    }
    &__caloriesvalue {
        font-size: 18px;
        padding-left: 30px;
    }
    &__caloriestitle {
        font-size: 18px;
        padding-left: 30px;
    }
 }

 .backbutton {
    width: 300px;
    height: 100px;
    color: white;
    background-color: black;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }

